.Speicesbtn1{
    width: 8vw;
    height: 8vh;
    background-color:#f15936;
    border:#cf8574 0.2px solid;
}


.donateContain{
    background-color: #F2F1ED;
}
#btndonateeId{
    background-color:#f15936;

}